@model IEnumerable<AzureQuest.Web.Models.TaskViewModel.SimpleTask>

@{
    ViewData["Title"] = "Tasks";
}

<h2>Tasks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State) Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @item.State.Last().Status.ToString()
                </td>
                <td>
                    @item.State.Last().RegistrationDate.ToString("dd/MM/yyyy hh:mm:ss")
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (!item.State.Any(s => s.Status == AzureQuest.Web.Models.TaskViewModel.TaskStatusType.Canceled || s.Status == AzureQuest.Web.Models.TaskViewModel.TaskStatusType.Done))
                    {
                    <span>
                        | <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        | <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>